html, body {
  margin: 0;
  padding: 0;
  background-color: black;

}
canvas {
  display: block;
  margin: auto;
}


p{
  color: white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
